
body{
  font-family: "Montserrat"
}
#title{
  background-color: #ff4c68;
  color:#fff;
}
h1{
  font-family: "Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;


}
h2{
  font-family:"Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid{
  padding: 3% 15% 13%;
}
/* navigation-bar */
.navbar-brand{
  font-family:"Ubuntu";
  font-size: 2.5rem;
}
.collapse{
  margin-left:500px;
}
.nav-item{
  padding-left: 50px;
}
.nav-link{
  font-size: 1.25rem;
  font-family:"Montserrat-light";
}
.navbar{
padding-bottom: 4.5rem;
}
/* download buttons */
.download-button{
  margin:5% 2% 0 2%;
}
/* title-image */
.title-img{
  width:53%;
  transform: rotate(25deg);
  position: absolute;
  right:110px;

}
/* features */
#features{
  line-height: 1.5rem;
  margin-bottom: 40px;
  background-color: #fff;
  position:relative;
  padding-bottom: 30px;
  padding-top: 90px;

}
.circle-image{
  color:#ff4c68;
}
.circle-img{
  height:40px;
  width:40px;
}
.text-family{
  font-family: "montserrat-bold";
}
.paragraph-color{
  color:#8f8f8f;
  width:50%;
}
.col-lg-4{

  margin-top: 20px;
}
.icon{
  color:#ef8172;
  font-size: 30px;
}
.icon:hover{
  color:#ff4678;s
}
/* testimonials */
#testimonials{
  background-color:#ef8172;
  text-align:center;

  color:#fff;

}
.testimonial-img{
  width:10%;
  border-radius:100%;
  margin:20px;

}
.carousel-item{
    padding: 7% 15% 7% 15%;
}
/* press-section */
#press{
  background-color:#ef8172;
  text-align:center;
  padding-bottom: 3%;
}
.press-logo{
  width:15%;
  margin:20px 20px 50px;
}
/* pricing section */
#pricing{
  padding:100px;
  text-align: center;
}
.pricing-coloumn
{
  padding: 3% 2%;
}

/* media query */
@media(max-width:1026px)
{
#title{
  text-align: center;
}
.title-img{
  position:static;
  transform:rotate(0);
}
}
/* call to action */
#cta{
  background-color: #ff4c68;
  font-family: "Montserrat-Black";
  text-align: center;
  color:#fff;
  padding:7% 15%;
  line-height: 1;
  height: 350px;
}
.cta-text{
  font-size: 50px;
}
/* footer section */
#footer{
  background-color: #fff;
  text-align: center;
  padding:50px;
  line-height:2.5;
}
.footer-icons
{
  padding: 10px;
}
